*{margin: 0;
padding: 0;
box-sizing: border-box;}

.Contenedor{display: grid;
    height: 100vh;
    grid-template-rows: auto auto 1fr auto;
}

.header, .aside, .main, .footer{
    background-color: red;
    text-align: center;
}

.header{
    grid-area: "header";}

    .main{background-color: orange;
        grid-area:"footer";}

    .aside{
        background-color: green;
        grid-area: "aside";}



        .footer{background-color: blue;
        grid-area: ;}



@media (min-width: 756px) {
    .Contenedor{
        grid-template-columns: 1fr 4fr;
    }

}